<form action="/<%= @book.id %>" method="post">

  <div>
    <input type="text" name="title" placeholder="Any title?" value="<%= @book.title %>">
  </div>

  <div>
    <textarea name="book_body" placeholder="Add some info?"> <%= @book.book_body %></textarea>
  </div>
  <div>
    <textarea name="genre" placeholder="Chose a genre"> <%= @book.genre %></textarea>
  </div>
  <div>
    <textarea name="images" placeholder="put an image"> <%= @book.images %></textarea>
  </div>

  <div>
    <input type="submit" value="Save post">
  </div>

  <% if(@book.id) %>
  <input type="hidden" name="_method" value="PUT">
  <% end %>
</form>
